.blog-post {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__tags {
    display: flex;
    padding-left: 0;

    li {
      margin: 0;
      padding-right: 1rem;
    }
  }
  &__footer {
    margin: 4rem 0;
  }
}

