.layout {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--fg);
  transition-duration: 0.5s;

  &__headline {
    margin: 5rem 0;
  }
}

.main {
  margin: 0 auto;
  max-width: 100rem;
  padding: 4rem 5% 0;
}
