:root {
  --black: #282c34;
  --red: #e06c75;
  --green: #98c379;
  --yellow: #e5c07b;
  --blue: #61afef;
  --magenta: #c678dd;
  --cyan: #56b6c3;
  --white: #fafafa;
  --pink: #f4c2c2;
}

.light {
  --bg: var(--white);
  --fg: var(--black);
  --hl: var(--blue);
}

.dark {
  --bg: var(--black);
  --fg: var(--white);
  --hl: var(--blue);
}

.pink {
  --bg: #f4c2c2;
  --fg: var(--black);
  --hl: var(--white);
}

a {
  color: var(--hl);
}
